.fixed-block {
  position: fixed;
  z-index: -1;
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}

.container {
  width: 90%;
  }

.left-side {
  float: left;
  width: 50%;
  margin-top: 6px;
  height: 3000px;
}

.right-side {
  float: right;
  width: 40%;
  margin-top: 6px;
}

.summary {
  width: auto;

}

/* Typography */

p {
  padding: 5px;
  margin: 2px;
}

#text-intro {
  font-weight: bold;
  text-align: center;
}

.instructions {
  font-style: italic;
  font-size: medium;
  text-align: center;
}

.summary {
  width: 90%;
  text-align: center;
}

/*Images */
#base {

  padding-left: -10px;
  margin-left: 0px;
}

/*CSS Grid */
.container {
  display: grid;
  grid-template-areas:
      "left-side" "right-side"
      "summary"
}
