.fixed-block {
  position: fixed;
  z-index: -1;
  float: left;
  padding-left: 0px;
  margin-left: 0px;
}

.container {
  width: 90%;
  }

.left-side {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.narrative {
  float: right;
  width: 40%;
  margin-top: 6px;
}

#text-intro {
  font-weight: bold;
  text-align: center;

}

.instructions {
  font-style: italic;
  font-size: medium;
  text-align: center;
}
.summary {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0px;
}
